Data cleaning and data warehouse construction

In [ ]:
# Read the dataframe from excel
import numpy as np
# numpy is equivalent to matlab
import pandas as pd
# pandas is equivalent to R

xl = pd.ExcelFile("dognition_data_aggregated_by_dogid.xlsx")
print xl.sheet_names
# sheet_names is an attribute, though it could be a method to call actually
df = xl.parse("dog_id_max_ranks")

In [ ]:
# Search for the nan values in each column
print df.isnull().sum()
# df.isnull() is also a dataframe, and then sum() by columns

In [ ]:
# Search for the nan values in each row
num = np.sum(df.isnull().values, axis = 1).tolist()
l1 = list(set(num))
l1.sort()
fre = {i:num.count(i) for i in l1}
dt = pd.DataFrame(fre.items(), columns=['Number of NaNs', 'Count'])
print dt

In [ ]:
# convert object columns to category columns
print df.dtypes
db = df.drop(df.index[[num.index(22)]])
db2 = db.copy()
for y in db2.columns:
    if db2[y].dtype == object:
        db2[y] = db2[y].astype('category')
db2['Dog_Fixed'] = db2['Dog_Fixed'].astype('category') 
db2['DNA_Tested'] = db2['DNA_Tested'].astype('category')
db2['Subscribed'] = db2['Subscribed'].astype('category')

In [ ]:
db2.loc[db2['Weight'] == 0.0,'Weight'] = 0.1
# first check the distribution of Weight, and other int and float columns

In [ ]:
db2.loc[db2['Max_Dogs'] == 0.0, 'Max_Dogs'] = 1.0
# first check the distribution of Max_Dogs

In [ ]:
# convert the column below to ordered category
db2['Last_Active_At'] = db2['Last_Active_At'].cat.as_ordered()

for i in db2.columns:
    if db2[i].dtype.name == 'category' and db2[i].cat.ordered == True:
        print i

In [ ]:
# connect the database
import mysql.connector
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://new_user:new_password@localhost:3306/menagerie', 
                       echo=False)

In [ ]:
db3 = db2.copy()
db3.index.name = 'Dog_ID_id'
the_user_list = db2['User ID'].tolist()
the_user_index = [the_user_list.index(i) for i in db2['User ID'].cat.categories.tolist()]
the_user_id = {i:j for i,j in enumerate(db2['User ID'].cat.categories.tolist())}
s2 = db2.loc[the_user_index,'Max_Dogs']

column_dfs = {'User ID':pd.DataFrame({'User_ID':the_user_id.values(),\
                                     'User_ID_id':the_user_id.keys(),\
                                     'Max_Dogs':s2})}
# construct the small table which contains user information

db3['User ID'] = 0
db3['User ID'].astype('int64') 
print

In [ ]:
for i in the_user_id.keys():
    db3.loc[db2['User ID'] == the_user_id[i],'User ID'] = i
# convert the object in the large table to integer id in a database

In [ ]:
the_values = ['Gender','Breed','Breed_Type',\
              'Breed_Group','Dog_Fixed',\
              'DNA_Tested',\
              'Dimension','Subscribed','City',\
              'State','Zip','Country','Exclude','Free_Start_User',\
              'Last_Active_At','Membership_Type']

In [ ]:
# construct small tables and convert the objects in the large table to integer ids
for k in the_values:
    print k
    the_column = {i:j for i,j in enumerate(db2[k].cat.categories.tolist())}
    column_dfs[k] = pd.DataFrame({k:the_column.values(),k+'_id':the_column.keys()})
    db3[k] = 0
    db3[k].astype('int64')
    # print the_column.keys()
    for m in the_column.keys():
        db3.loc[db2[k] == the_column[m],k] = m
print
print db3.dtypes

In [ ]:
# change the names of the columns
# cols = db3.columns.tolist()
db3.columns = ['Dog_ID','Total_Tests_Completed','Mean_ITI_days','Mean_ITI_minutes',\
        'Median_ITI_days','Median_ITI_minutes',\
        'Time_diff_between_first_and_last_game_days',\
        'Time_diff_between_first_and_last_game_minutes','User_ID_id','Gender_id','Birthday',\
        'Breed_id','Breed_Type_id','Breed_Group_id','Weight','Dog_Fixed_id',\
        'DNA_Tested_id','Dimension_id','Sign_in_Count','Max_Dogs','Membership_ID',\
        'Subscribed_id','City_id','State_id','Zip_id','Country_id','Exclude_id',\
        'Free_Start_User_id','Last_Active_At_id','Membership_Type_id']
# db3.head()

In [ ]:
# the Max_Dogs is an attribute in user table and therefore delete it from the large table
db3 = db3.drop('Max_Dogs', 1)
db3.shape

In [ ]:
# database talbes setup
from sqlalchemy import Column, ForeignKey, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

Base = declarative_base()

class User_ID(Base):
    __tablename__ = 'userid'

    id = Column('User_ID_id', Integer, primary_key=True, autoincrement=False)
    name = Column('User_ID', String(250), nullable=False)
    dog_number = Column('Max_Dogs', Integer)

class Gender(Base):
    __tablename__ = 'gender'

    id = Column('Gender_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Gender', String(50), nullable=False) 
    
class Breed(Base):
    __tablename__ = 'breed'

    id = Column('Breed_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Breed', String(250), nullable=False)
    
class Breed_Type(Base):
    __tablename__ = 'breed_type'

    id = Column('Breed_Type_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Breed_Type', String(250), nullable=False) 
    
class Breed_Group(Base):
    __tablename__ = 'breed_group'

    id = Column('Breed_Group_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Breed_Group', String(250), nullable=False) 

class Dog_Fixed(Base):
    __tablename__ = 'dog_fixed'

    id = Column('Dog_Fixed_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Dog_Fixed', String(250), nullable=False) 
    
class DNA_Tested(Base):
    __tablename__ = 'dna_tested'

    id = Column('DNA_Tested_id', Integer, primary_key=True, autoincrement=False)
    name = Column('DNA_Tested', String(250), nullable=False)
    
class Dimension(Base):
    __tablename__ = 'dimension'

    id = Column('Dimension_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Dimension', String(250), nullable=False)    

class Subscribed(Base):
    __tablename__ = 'subscribed'

    id = Column('Subscribed_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Subscribed', String(250), nullable=False)
    
class City(Base):
    __tablename__ = 'city'

    id = Column('City_id', Integer, primary_key=True, autoincrement=False)
    name = Column('City', String(250), nullable=False)    

class State(Base):
    __tablename__ = 'state'

    id = Column('State_id', Integer, primary_key=True, autoincrement=False)
    name = Column('State', String(250), nullable=False)
    
class Zip(Base):
    __tablename__ = 'zip'

    id = Column('Zip_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Zip', String(250), nullable=False)    
    
class Country(Base):
    __tablename__ = 'country'

    id = Column('Country_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Country', String(250), nullable=False)
    
class Exclude(Base):
    __tablename__ = 'exclude'

    id = Column('Exclude_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Exclude', String(250), nullable=False)    

class Free_Start_User(Base):
    __tablename__ = 'free_start_user'

    id = Column('Free_Start_User_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Free_Start_User', String(250), nullable=False)
    
class Last_Active_At(Base):
    __tablename__ = 'last_active_at'

    id = Column('Last_Active_At_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Last_Active_At', String(250), nullable=False)    
    
class Membership_Type(Base):
    __tablename__ = 'membership_type'

    id = Column('Membership_Type_id', Integer, primary_key=True, autoincrement=False)
    name = Column('Membership_Type', String(250), nullable=False) 
    
class Dog_ID(Base):
    __tablename__ = 'dog_id'

    name = Column('Dog_ID', String(250), nullable=False)
    id = Column('Dog_ID_id', Integer, primary_key=True, autoincrement=False)
    
    tests_completed = Column('Total_Tests_Completed', Integer)
    mean_iti_days = Column('Mean_ITI_days', Float)
    mean_iti_minutes = Column('Mean_ITI_minutes', Float)
    median_iti_days = Column('Median_ITI_days', Float)
    median_iti_minutes = Column('Median_ITI_minutes', Float)
    time_diff_days = Column('Time_diff_between_first_and_last_game_days', Float)
    time_diff_minutes = Column('Time_diff_between_first_and_last_game_minutes', Float)
    birthday = Column('Birthday', Float)
    weight = Column('Weight', Float)
    sign_in_count = Column('Sign_in_Count', Float)
    membership_id = Column('Membership_ID', Float)
    
    userid_id = Column('User_ID_id', Integer, ForeignKey('userid.User_ID_id'))
    userid = relationship(User_ID)
    
    gender_id = Column('Gender_id', Integer, ForeignKey('gender.Gender_id'))
    gender = relationship(Gender)
    
    breed_id = Column('Breed_id', Integer, ForeignKey('breed.Breed_id'))
    breed = relationship(Breed)    
        
    breed_type_id = Column('Breed_Type_id', Integer, ForeignKey('breed_type.Breed_Type_id'))
    breed_type = relationship(Breed_Type)    
    
    breed_group_id = Column('Breed_Group_id', Integer, ForeignKey('breed_group.Breed_Group_id'))
    breed_group = relationship(Breed_Group)    
    
    dog_fixed_id = Column('Dog_Fixed_id', Integer, ForeignKey('dog_fixed.Dog_Fixed_id'))
    dog_fixed = relationship(Dog_Fixed)    
    
    dna_tested_id = Column('DNA_Tested_id', Integer, ForeignKey('dna_tested.DNA_Tested_id'))
    dna_tested = relationship(DNA_Tested)
    
    dimension_id = Column('Dimension_id', Integer, ForeignKey('dimension.Dimension_id'))
    dimension = relationship(Dimension)    
    
    subscribed_id = Column('Subscribed_id', Integer, ForeignKey('subscribed.Subscribed_id'))
    subscribed = relationship(Subscribed)    
    
    city_id = Column('City_id', Integer, ForeignKey('city.City_id'))
    city = relationship(City)    
    
    state_id = Column('State_id', Integer, ForeignKey('state.State_id'))
    state = relationship(State)    
    
    zip_id = Column('Zip_id', Integer, ForeignKey('zip.Zip_id'))
    zip = relationship(Zip) 
    
    country_id = Column('Country_id', Integer, ForeignKey('country.Country_id'))
    country = relationship(Country)     
    
    exclude_id = Column('Exclude_id', Integer, ForeignKey('exclude.Exclude_id'))
    exclude = relationship(Exclude)     
    
    free_start_user_id = Column('Free_Start_User_id', Integer, \
                                ForeignKey('free_start_user.Free_Start_User_id'))
    free_start_user = relationship(Free_Start_User)     
    
    last_active_at_id = Column('Last_Active_At_id', Integer, \
                               ForeignKey('last_active_at.Last_Active_At_id'))
    last_active_at = relationship(Last_Active_At)     
    
    membership_type_id = Column('Membership_Type_id', Integer, \
                                ForeignKey('membership_type.Membership_Type_id'))
    membership_type = relationship(Membership_Type)         
    
Base.metadata.create_all(engine)

In [ ]:
# import the data in the dataframe to the empty tables in the database
from sqlalchemy.exc import IntegrityError

try:
    column_dfs['User ID'].to_sql('userid',engine,flavor='mysql', if_exists='append',\
                                 index=False)
    print 1
except IntegrityError:
    print 2

print column_dfs['Gender']

try:
    column_dfs['Gender'].to_sql('gender',engine,flavor='mysql', if_exists='append',index=False)
    print 1
except IntegrityError:
    print 2

In [ ]:
try:
    column_dfs['Breed'].to_sql('breed',engine,flavor='mysql', if_exists='append',index=False)
    print 1
except IntegrityError:
    print 2
    
try:
    column_dfs['Breed_Type'].to_sql('breed_type',engine,flavor='mysql', if_exists='append',\
                                    index=False)
    print 1
except IntegrityError:
    print 2
    
try:
    column_dfs['Breed_Group'].to_sql('breed_group',engine,flavor='mysql', if_exists='append',\
                                     index=False)
    print 1
except IntegrityError:
    print 2
    
try:
    column_dfs['Dog_Fixed'].to_sql('dog_fixed',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2  
    
try:
    column_dfs['DNA_Tested'].to_sql('dna_tested',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2
    
try:
    column_dfs['Dimension'].to_sql('dimension',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2
        
try:
    column_dfs['Subscribed'].to_sql('subscribed',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['City'].to_sql('city',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['State'].to_sql('state',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
        
try:
    column_dfs['Zip'].to_sql('zip',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['Country'].to_sql('country',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
        
try:
    column_dfs['Exclude'].to_sql('exclude',engine,flavor='mysql', if_exists='append',\
                                   index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['Free_Start_User'].to_sql('free_start_user',engine,flavor='mysql',\
                                         if_exists='append', index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['Last_Active_At'].to_sql('last_active_at',engine,flavor='mysql',\
                                         if_exists='append', index=False)
    print 1
except IntegrityError:
    print 2    
    
try:
    column_dfs['Membership_Type'].to_sql('membership_type',engine,flavor='mysql',\
                                         if_exists='append', index=False)
    print 1
except IntegrityError:
    print 2

In [ ]:
# Display parts of the large table
# column_dfs['User ID'].head()
db3.head()

In [ ]:
# import the large table to database
try:
    db3.to_sql('dog_id', engine, flavor='mysql', if_exists='append', index=True, \
               chunksize=1000)
    print 1
except IntegrityError:
    print 2